<div class="row">
    <strong class="col-xs-6 col-sm-5"></strong>
    <span class="col-xs-6">{{comments|raw}}</span>
    <p id="tk">{{tokenval}}</p>
</div>

<script>
var token = document.getElementById ("tk").value; 
alert(token);
</script>
