<div class="row">
    <strong class="col-xs-6 col-sm-5"></strong>
    <span class="col-xs-6">{{comments|raw}}</span>
    <input type="button" name="barzahlen_token" onclick="barzahlentoken()">
   
</div>

<style type="text/css">
        #bz-checkout-modal { position: fixed !important; }
    </style>
    <script src="https://cdn.barzahlen.de/js/v2/checkout-sandbox.js"
            class="bz-checkout"
            data-token="{{tokenval}}">
            function barzahlentoken()
            {
            alert('token');
            }
    </script>

