<div class="row">
    <strong class="col-xs-6 col-sm-5"></strong>
    <span class="col-xs-6">{{comments|raw}}</span>
    <p>{{payment_type}}</p>
    {% if {{payment_type}} == 'NOVALNET_CASHPAYMENT' %}
    <button id="barzahlen_button" class="bz-checkout-btn" onclick="javascript:bzCheckout.display();">barzahlen_token</button>
    {% endif %}
</div>

<style type="text/css">
        #bz-checkout-modal { position: fixed !important; }
    </style>
    <script src="https://cdn.barzahlen.de/js/v2/checkout-sandbox.js"
            class="bz-checkout"
            data-token="{{tokenval}}">
           
    </script>


